<div style="text-align: center;">
  <h1>TODO List</h1>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="dueDate" (click)="picker.open()">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select [(value)]="priority">
      <mat-option value="">Select</mat-option>
      <mat-option value="low">Low</mat-option>
      <mat-option value="medium">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-fab color="accent" aria-label="Add" (click)="addItem()">
    <mat-icon>add_circle</mat-icon>
  </button>
</div>